<%- include('partials/header') %>
<title>Search Results</title>
<link rel="stylesheet" href="/css/entire.css">
<link rel="stylesheet" href="/css/searchResults.css" >

<%- include('partials/navbar') %>

<%- include('partials/flash') %>

<h2 class="text-center mt-3">NO PAGE FOUND</h2>




<%- include('partials/footer') %>